.form-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.subtitle {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #666;
}

.form-field {
    width: 100%;
    margin-bottom: 10px;
}